In [1]:
from surprise import Dataset, Reader
import pandas as pd
from collections import defaultdict

from UserDefinedNMF import UserDefinedNMF

In [2]:
def load_data(file_path):
    df = pd.read_csv(file_path, usecols=['userId', 'movieId', 'rating'])
    return df

In [3]:
def prepare_data_for_surprise(dataframe):
    reader = Reader(rating_scale=(1, 5))
    data = Dataset.load_from_df(dataframe[['userId', 'movieId', 'rating']], reader)
    return data

In [4]:
traindf = load_data('./datasets/training_data.csv')

data = prepare_data_for_surprise(traindf)

In [5]:
user_ids = traindf['userId'].unique()
user_id_map = {old: new for new, old in enumerate(user_ids)}
item_ids = traindf['movieId'].unique()
item_id_map = {old: new for new, old in enumerate(item_ids)}

traindf['userId'] = traindf['userId'].map(user_id_map)
traindf['movieId'] = traindf['movieId'].map(item_id_map)

In [6]:
model = UserDefinedNMF()

model.fit(data.build_full_trainset())

In [7]:
u, i = 1, 2
prediction = model.predict(u, i)
print(f"Predicted rating for user {u} and item {i} is {prediction}")

Predicted rating for user 1 and item 2 is 4.0607997819979005

In [8]:
testdf = load_data('./datasets/testing_data.csv')
testdf['userId'] = testdf['userId'].map(user_id_map, na_action='ignore')
testdf['movieId'] = testdf['movieId'].map(item_id_map, na_action='ignore')
trainset = data.build_full_trainset()
testset = [tuple(row) for row in testdf.itertuples(index=False)]

In [9]:
predictions = model.test(testset)

In [10]:
predictions_df = pd.DataFrame(predictions, columns=['uid', 'iid', 'rui', 'est'])
predictions_df.describe()

                uid           iid           rui           est
count  18043.000000  18043.000000  18043.000000  18043.000000
mean     321.772377   1099.526354      3.563847      3.432908
std      182.610173    878.233695      1.030476      0.620810
min        0.000000      0.000000      0.500000      0.765455
25%      169.000000    360.000000      3.000000      3.034688
50%      317.000000    868.000000      4.000000      3.480031
75%      476.000000   1696.000000      4.000000      3.870896
max      609.000000   3298.000000      5.000000      5.000000

In [11]:
predictions_df.corr()

          uid       iid       rui       est
uid  1.000000  0.042902 -0.018643 -0.047979
iid  0.042902  1.000000 -0.139304 -0.225688
rui -0.018643 -0.139304  1.000000  0.552422
est -0.047979 -0.225688  0.552422  1.000000

In [12]:
def calculate_accuracy(predictions, threshold=0.5):
    correct_predictions = sum(abs(estimated_rating - true_rating) <= threshold for _, _, true_rating, estimated_rating in predictions)
    accuracy = correct_predictions / len(predictions)
    return accuracy

In [13]:
threshold = 0.5
test_accuracy = calculate_accuracy(predictions, threshold)

print(f"Accuracy (within ±{threshold} of actual rating): {test_accuracy:.2%}")

Accuracy (within ±0.5 of actual rating): 46.20%

In [14]:
def create_predictions_dataframe(predictions):
    predictions_data = [{'uid': pred[0], 'iid': pred[1], 'og_rating': pred[2], 'nmf_rating': pred[3]} for pred in predictions]
    return pd.DataFrame(predictions_data)

test_pred_df = create_predictions_dataframe(predictions)

In [15]:
df_movies = pd.read_csv('./datasets/Movies.csv')

In [21]:
def get_top_n(predictions, n=10):
    top_n = defaultdict(list)
    
    for row in predictions.itertuples(index=False):
        uid, iid, og_rating, nmf_rating = row.uid, row.iid, row.og_rating, row.nmf_rating
        top_n[uid].append((iid, nmf_rating))
    
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)  
        top_n[uid] = user_ratings[:n]
    
    return top_n

In [22]:
def show_user_recommended_movies_in_df(predictions, user_id, n=10):
    top_n = get_top_n(predictions, n)
    
    if user_id in top_n:
        recommended_movies_ids = [movie_id for movie_id, _ in top_n[user_id]]
    else:
        return pd.DataFrame()
    
    recommended_movies_df = df_movies.loc[df_movies['movieId'].isin(recommended_movies_ids)]
    
    return recommended_movies_df

In [23]:
for i in range(1,2):
    print("\t\t\t\t*****{}*****\n".format(i))
    print(show_user_recommended_movies_in_df(test_pred_df, i, 5))
    print("\n")

				*****1*****

     movieId                                              title  \
143      171                                     Jeffrey (1995)
168      199  Umbrellas of Cherbourg, The (Parapluies de Che...
580      711                                     Flipper (1996)

                              genres
143              ['Comedy', 'Drama']
168  ['Drama', 'Musical', 'Romance']
580        ['Adventure', 'Children']

In [30]:
show_user_recommended_movies_in_df(test_pred_df, 6, 10)

,movieId,title,genres
19,20,Money Train (1995),"['Action', 'Comedy', 'Crime', 'Drama', 'Thrill..."
50,55,Georgia (1995),['Drama']
156,185,"Net, The (1995)","['Action', 'Crime', 'Thriller']"
261,301,Picture Bride (Bijo photo) (1994),"['Drama', 'Romance']"
313,355,"Flintstones, The (1994)","['Children', 'Comedy', 'Fantasy']"
314,356,Forrest Gump (1994),"['Comedy', 'Drama', 'Romance', 'War']"
389,448,Fearless (1993),['Drama']
721,941,"Mark of Zorro, The (1940)",['Adventure']
837,1099,"Christmas Carol, A (1938)","['Children', 'Drama', 'Fantasy']"
1898,2522,Airport '77 (1977),['Drama']